@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
body {
    padding-right: 48px;
    padding-left: 48px;
    background-color: #FDFEFB;
    margin: 0;
}
#logo{
    width: 186px;
    height: 28px;
    gap: 0px;
    font-family: Source Serif 4;
    font-size: 42px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: -0.04em;
    text-align: left;    
    color: rgba(35, 40, 27, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}
#parent{
    width:1,440px;
    height:3,901px;
    min-height: 900px;
    padding: 0px 48px 0px 48px;
    gap: 0px;
}
.header{
    height:88px;
    padding: 0px 0px 20px 0px;
    gap: 0px;
    border: 0px 0px 1.5px 0px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.apptype{
    width:50%;
    height:48px;
    /* gap: 12px; */
    opacity: 0px;
    text-align: left;
}

.links {
    width:50%;
    width: 491px;
    height: 32px;
    gap: 40px;
    opacity: 0px;
    display: flex;
    font-family: Roboto serif;
}
#logo{
    font-family:Serif 4;
    font-size: 42px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: -0.04em;
    text-align: left;

}
#home{
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    width: 80px;
    height: 32px;
}
#projects{
    width: 106vh;
    height: 32vh;
    gap: 0px;
    opacity: 0px;
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.02em;
    text-align: left;
}
#about{
    width: 81px;
    height: 32px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto Serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.02em;
    text-align: left;
}
#contact{
    width: 104px;
    height: 32px;
    gap: 0px;
    opacity: 0px;
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.02em;
    text-align: left;
}
#container{
    width:1,344px;
    height: 3,633px;
    padding: 48px 0px 48px 0px;
    gap: 0px;
}
#main-content{
    width:1,344px;
    height: 3,537px;
    gap: 0px;
    opacity: 0px;
}
#landingpage{
    width: 1,344px;
    height:1,036px;
    gap: 52px;
    border: 0px 0px 1.5px 0px;
    opacity: 0px;
    top: 96px;
    bottom: 96px;
}
.discover{
    width: 1344px;
    height: 120px;
    gap: 0px;
    opacity: 0px;    
    font-size: 120px;
    font-weight: 700;
    letter-spacing: -0.02em;
    text-align: center;
    font-family: Roboto Serif;
}
#img{
    width: 1344px;
    height: 672px;
    gap: 0px;
    border-radius: 28px;
    border: 1.5px;
    opacity: 0px;
}
#sections{
    display: flex;
    width: 1,344px;
    height: 1,036px;
    padding: 96px 0px 96px 0px;
    gap: 52px;
    opacity: 0px;
}
.column1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 52px;
}
.project1{
    display: flex; 
    flex-direction: column
}
.project2{
    display: flex; 
    flex-direction: column;
}
.project3{
    display: flex; 
    flex-direction: column
}
.column2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    gap: 52px;
}
.project4{
    display: flex; 
    flex-direction: column;
}
.project5{
    display: flex; 
    flex-direction: column;
}
.project6{
    display: flex; 
    flex-direction: column;
}
.column3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 52px;
}
.project7{
    display: flex; 
    flex-direction: column;
}
.project8{
    display: flex; 
    flex-direction: column;
}
.project9{
    display: flex; 
    flex-direction: column;
}
.about{
    width:1344px;
    height:452px;
    padding: 0px;
    margin: 0;
    gap: 0px;
    opacity: 0px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.aboutsite{
    width: 900px;
    max-width: 900px;
    gap: 0px;
    font-family: Roboto Serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #23281B;
}
.numb{
    padding-top: 200px;
    gap:48px;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.textT{
    gap:8px;
    color: black;
    text-align: center;
    justify-content: space-between;
}
.TextU{
    font-size: 28px;
    line-height: 32px;
    align-items: center;
    margin-bottom: 10px;
}
.inputNum{
    overflow: hidden;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    height: 64px;
    border-radius: 8px; 
    background-color:rgba(97, 126, 37, 0.09); 
    width: 60px;
}
.inputNum input[type="number"]{
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 20px;
    color: #D6DDE666;
    font-size: 20px;
    line-height: 24px;
    padding: 8px 16px;
    width: 13px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6.5px;
}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
.eight-input{
    display: flex;
    gap: 12px;
    padding: 40px 0px;
}
.footer{
    width: 1,344px;
    height: 180ppx;
    padding: 96px 0px 32px 0px;
    gap: 32px;
    border: 1.5px 0px 0px 0px;
}
.footcontainer{
    width:1344px;
    height:52px;
    gap: 0px;
    display: flex;
    justify-content: space-between;
}
#pagelinks{
    font-family: Roboto Serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.02em;
    text-align: left;
    text-decoration-skip-ink: none;
    color: rgba(38, 46, 20, 0.62);
}
.footbutton{
    border: 1px solid gray;
    border-radius: 16px;
    width:160px;
    height: 52px;
    padding: 14px 32px;
    text-align: center;
}
#footfollow{
    font-size: 20px;
    font-weight: 500;
}
@media (max-width: 768px){
    #logo{
        font-size: 28px;
    }
    .header{
        flex-direction: column;
    }
    .links{
        justify-content: center;
    }
    .discover{
        font-size: 36px;
    }
    #sections{
        flex-direction: column;
        gap: 16px;
    }
    .column1,.column2,.column3{
        width: 100%;
    }
    @media (max-width: 48px){
        body{
            padding: 8px;
        }
    }